<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="{{ $.Site.Params.exNumber }}">0</strong>
          </div>
          <div class="text">
            <span>{{ $.Site.Params.exText  }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="{{ $.Site.Params.prNumber }}">0</strong>
          </div>
          <div class="text">
            <span>{{ $.Site.Params.prText  }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="{{ $.Site.Params.hcNumber }}">0</strong>
          </div>
          <div class="text">
            <span>{{ $.Site.Params.hcText  }}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="{{ $.Site.Params.awNumber }}">0</strong>
          </div>
          <div class="text">
            <span>{{ $.Site.Params.awText }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
