<section class="ftco-section">
  <div class="container">
    <div class="row mt-4 mt-md-5 justify-content-between">
      <div class="col-md-7 ftco-animate">
        <p>{{ .Content }}</p>
      </div>
      <div class="col-md-4 ftco-animate">
        <h5 class="font-weight-bold">Our Advantages</h5>
        <ul class="services-2">
          <li><span class="fa fa-check"></span>Free Diagnostics &amp; Brake Check</li>
          <li><span class="fa fa-check"></span>Certified Repair Service</li>
          <li><span class="fa fa-check"></span>Repair Estimates</li>
          <li><span class="fa fa-check"></span>Auto Repair Shops Serving Customer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
