        <div class="wrap">
        <div class="container">
                <div class="row justify-content-between">
                  <div class="col-md-3 d-flex align-items-center">
                        <a class="navbar-brand" href="{{ "/" | relLangURL }}"><img class="logo" src="{{ "img/logo.jpeg" | absURL }}" alt="{{ .Site.Title }}"></a>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col">
                                <div class="top-wrap d-flex">
                                    <a href="{{ $.Site.Params.addressLink }}" target="_blank"><div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div></a>
                                    <a href="{{ $.Site.Params.addressLink }}" target="_blank"><div class="text"><span>Address</span><span>{{ $.Site.Params.address }}</span></div></a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="top-wrap d-flex">
                                    <a href="tel:{{ $.Site.Params.phone }}"><div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div></a>
                                    <a href="tel:{{ $.Site.Params.phone }}"><div class="text"><span>Call us</span><span>{{ $.Site.Params.phone }}</span></div></a>
                                </div>
                            </div>

                            <!-- {{ partial "social" . }} -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
